body{
    background-color: gray;
    font: normal 15pt arial;
}
header {
    text-align: center;
    padding:10px;
    color: white;
}
section{
    background:white;
    border-radius: 10px;
    padding: 15px;
    height:30vw;
    width:70vw;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.216);
}
footer{
    text-align: center;
    color: white;
    font-style: italic;
}